.collect-title {
    color: #4B0082;
    text-shadow: 2px 2px #B2BABB;
    padding-top:40px;
    padding-left: 30px;
    padding-bottom: 10px;
    position: relative;
    left: 60px;
    font-size: 45px !important;
    font-family: 'Josefin Sans' !important;
    font-weight: 700 !important;
  }
  
  .collect-card-title {
    font-size: 14px !important; 
    color: #151B54 !important;
    /* text-align: justify; */
    font-family: 'Bitter' !important;
    font-weight: 700 !important;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
  }
  
  .collect-card-title:hover {
    text-decoration: underline dashed #151B54;
  }
  
  .collect-card-subtitle {
    font-size: 13px !important;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
  }
  