/* heare i am directly  */
/* header {
    background-color: bisque;
} */

.header-container {
    background-color: bisque;
}

.nav-container {
    margin: 0;
    list-style-type: none;
    gap: 20px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    background-color: black;
    color: white;
    padding: 10px 20px;
}

.nav-item:hover {
    background-color: maroon;
    /* cursor 可以指定當滑鼠指標指向哪個物件時，顯示不同的游標. */
    cursor: pointer;
}