.collect-title {
    /* color: #4B0082; */
    /* text-shadow: 2px 2px #B2BABB; */
    padding-top:40px;
    padding-left: 30px;
    /* padding-bottom: 10px; */
    position: relative;
    left: 60px;
    font-size: 45px !important;
    font-family: 'Josefin Sans' !important;
    font-weight: 700 !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #6a11cb 5%, #2575fc 25%);
  }
  
  .collect-card-title {
    font-size: 14px !important; 
    color: #151B54 !important;
    font-family: 'Bitter' !important;
    font-weight: 700 !important;
    text-decoration: none;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 1 !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
  }
  
  .collect-card-title:hover {
    text-decoration: underline dashed #151B54;
  }
  
  .collect-card-subtitle {
    font-size: 13px !important;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
  }
  

.sectioon-title {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  background: linear-gradient(to right, #03001e 2%, #7303c0 2%, #ec38bc 8%, #fdeff9 10%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  top: 15px;
  left: 45px;
  padding-top: 10px;
  font-size: 28px !important;
  font-family: 'Josefin Sans' !important;
  font-weight: 700 !important;
  margin-bottom: 20px !important;
  display: inline-block !important;
  width: 100% !important;
  box-sizing: border-box !important;
}

.card-section {
  color: #786D5F;
  text-transform: capitalize !important;
  font-family: 'Roboto' !important;
  font-weight: 600 !important;
  padding-bottom: 5px;
}