.science-content-title {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  background: linear-gradient(to right, #1a2a6c , #b21f1f 10%, #fdbb2d 25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  top: 30px;
  left: 20px;
  font-size: 45px !important;
  font-family: 'Josefin Sans' !important;
  font-weight: 700 !important;
  margin-bottom: 50px !important;
  display: inline-block !important;
  width: 100% !important;
  box-sizing: border-box !important;
  }
  
  .science-card-title {
    color: #151B54 !important;
    font-family: 'Bitter' !important;
    font-weight: 700 !important;
  }
  
  .science-card-section {
    color: #786D5F;
    text-transform: capitalize;
    font-family: 'Roboto' !important;
    font-weight: 600 !important;
    padding-bottom: 5px;
  }
  
  .science-card-subtitle {
    font-size: 14px !important;
    font-weight: 500 !important;
    padding: 5px !important;
    font-family: 'Newsreader' !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
  }
  
  .read-more-icon {
    border: dotted 2px #736AFF !important;
    border-radius: 5px !important;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    font-size: 20px !important;
    color: #342D7E !important;
    font-family: 'Jost' !important;
    font-weight: 500;
  }
  
  .read-more-icon:hover {
    /* remove background */
    /* background-color: transparent !important; */
    background-color: #82CAFA !important;
  }
  
  .science-collect-btn {
    font-weight: 400;
    font-family: 'Kanit';
    text-transform: none !important;
    border: dotted 2px #FFCCBC !important;
  }
  
  .science-link {
    padding: 0px 150px 0px 10px;
  }